@font-face {
    font-family: 'MTSText-Regular';
    src: url('./fonts/MTSText-Regular.ttf') format('truetype');
    /* Дополнительные настройки, если нужно */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MTSText-Medium';
    src: url('./fonts/MTSText-Medium.ttf') format('truetype');
    /* Дополнительные настройки, если нужно */
    font-weight: 600;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "MTSText-Regular", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#root {
    height: 100%;
}
